<%- include("partials/header") -%> 

<h1>hello world</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, exercitationem nisi. Odit fuga quaerat eum suscipit qui ut quo numquam.</p>

<%- include("partials/footer") -%> 